@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../font/Roboto-Black.ttf');
}

*{
background-position: center;
background-color: white;
}

.adidas{
  width: 100%;
}
.carrito{
  width: 100%;
}
div{
  width: 1170px;
  align-items: center;
}
ul{
  text-align: center;
  font: #000000;
}
body{
   font-family:'Roboto-Medium';
   font-size: 20px;
   font: #3b3b3b;
}

.menu{
  width: 100%;
  border: 10px;
  margin: 10px;

}
 .menu li{
  display: inline;
   margin: 2px;
   padding: 2px;
  }

  .menu li :link{
    text-decoration: none;
    color: black;
  }
.Icono{
  display: inline-block;
  width: 120px;
  transform: translate(150%,0);
  float: left;
}

.menu li :hover {
  border: 1px;
  font-family: 'Roboto-Black';
  color: #000000;
}

.menu li :link:hover{
  text-decoration: underline;
  padding: 2px;
  margin-bottom: 3px;

}
.Compra {
  width: 28px;
  float: right;
  transform: translate(-450%,-90%);
}


.titulo1{
  text-align: center;
  margin-top:50px;
  transform: translate(-30%,0);
  font-size: 16px;
  text-transform: uppercase;
}

.subtitulo{
  text-align: center;
  text-transform: uppercase;
  color: #9c9c9c;
  font-size: 10px;
  margin-bottom: 10px;
  transform: translate(-28%,0);

}

.linea{
  text-align: center;
  background-color: black;
   width: 10px;
   height: 2px;
   display: inline-block;
   transform: translate(1950%,0);

}
.titulo2{
  text-align: center;
  margin-top:50px;
  transform: translate(-45%,0);
  font-size: 16px;
  text-transform: uppercase;
}

.subtitulo2{
  text-align: center;
  text-transform: uppercase;
  color: #9c9c9c;
  font-size: 10px;
  margin-bottom: 10px;
  transform: translate(-44.5%,0);

}

.linea2{
  text-align: center;
  background-color: black;
   width: 10px;
   height: 2px;
   display: inline-block;
   transform: translate(300%,0);

}
section{
	width: 80%;
	min-height: 500px;
	padding: 2%;
	margin:0 auto;
	margin-left: 10%;
	margin-top: 50px;
}

.producto{
	width: 20%;
	height: auto;
  display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-top: 1%;
	color: #4a4a4a;
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 1%;
-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}
.producto:hover{

	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}
.producto img{
	width: 150px;
	height: 150px;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}

.producto a{
	background-color: #4a4a4a;
	padding: 3px;
	color: white;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
}


.especificaciones {
  display: inline-block;
  width: 100%;
  height: auto;
  margin:10px;
  border: 12px;
  padding: 10px;
}
.titulo{
  text-transform: uppercase;
  margin:4px;
  font-size: 12px;
  width: 100%;
  text-align: left;
}
.descrpcion{
  text-transform: uppercase;
  margin:4px;
  font-size: 8px;
  color: #9c9c9c;
  border: 12px;
  width: 100%;
  text-align: left;
}

.Producto_precio{
  margin:4px;
  font-size: 12px;
  width: 100%;
  text-align: left;
}
.boton{
  display:inline-block;
  float:right;
  width:150px;
  margin:5px 0px;
  padding: 5px 10px;
  border:1px solid rgba(0,0,0,0.75);
  border-radius:5px;
  background-color:rgba(220,220,220,1);
  text-decoration:none;
  text-align:center;
}
.boton:hover{
  background-color:rgba(0,0,0,0.2);
  font-weight:bold;
}


#boton{
  display:inline-block;
  float:right;
  width:150px;
  margin:5px 0px;
  padding: 5px 10px;
  border:1px solid rgba(0,0,0,0.75);
  border-radius:5px;
  background-color:rgba(220,220,220,1);
  text-decoration:none;
  text-align:center;
}

#boton:hover{
  background-color:rgba(0,0,0,0.2);
  font-weight:bold;
}
