*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.slider{
  position: relative;
  margin: auto;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.slider ul{
  position: relative;
  margin: auto;
  height: auto;
  width: 400%;
}

.slider ul li{
  float: left;
  width: 100px;
  height: 500px;
  width: 25%;
}

.slider ul li img{
  width: 100%;
}

#indicator{
  position: relative;
  width: 100%;
  margin: auto;
  height: 10px;
  text-align: center;

  top: -30px;
}

#indicator li{
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  opacity: .5;
  color: black;
  text-shadow:0px 0px 5px #333;
}

#indicator li:first-child{
  opacity: 1;
}
#left{
  text-align: center;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  left: -45%;
  font-size: 2em;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

#left i{
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
}

#right{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 40%;
  right:-45%;
  font-size: 2em;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

#right i{
text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
}
